@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/patron.png');
  background-repeat: repeat;
  background-size: 400px;
  opacity: 0.20;
  pointer-events: none;
  z-index: -1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* Fondos suaves para componentes */
.bg-white {
  background-color: rgba(203, 203, 203, 0.85) !important;
}

.bg-gray-50 {
  background-color: rgba(203, 203, 203, 0.9) !important;
}

.bg-gray-100 {
  background-color: rgba(203, 203, 203, 0.85) !important;
}